body {
    background-image: url("/images/bg.png");
    min-height: 708px;
    min-width: 1280px;
    color: #FF9800;
    font-family: 'Lobster';
}

.beer-container {
    margin: 24px 0 0 12px;
}

.beer-row {
    margin-bottom: 6px;
}

.header {
    font-size: 4.5em;
    margin-right: 24px;
    vertical-align: middle;
}

.header-image {
    max-width: 300px;
    margin-top: 36px;
    margin-left: 24px;
}

.description {
    white-space: nowrap;
}

.name {
    display: inline-block;
    font-size: 2.7em;
}

.comment {
    display: inline-block;
    font-size: 2.7em;
    margin-left: 8px;
    color: #CDDC39;
}

.price {
    text-align: left;
    font-size: 2.7em;
    margin-left: 36px;
}